// Define SCSS variables
$customcolor: #8eda0b;
$font-family: "Inter", sans-serif;
$font-size: 32px;
$font-weight: 600;
$line-height: 3;
$textcolor: #100b0b;
$hover-opacity: 0.8;
$spacing-small: 0.5rem;

