@use './styles/variables' as *;
@use './styles/theme.scss' as *;

  .customComponent {
    * {
      box-sizing: border-box;
      font-family: var(--font-family);
      font-size: var(--font-size);
      font-weight: var(--font-weight);
      line-height: var(--line-height);
      color: var(--text-color);
    }
  }



